html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  color: #CCCCCC !important;
  background-color: orangered !important;
  
}
.modal-content {
  background-color: #16161a !important;
}
p,.txtContent,.subtitle{
  font-family: 'Roboto Mono', monospace;
}
.nav-link{
  cursor: pointer;
}

h1,h4,h3,h2{
  font-family: 'Roboto Mono', monospace;
}

.formu{
  border:2px solid gray;
  padding-left: 16%;
  border: 2px solid #6666a420;
  border-radius: 10px;  
 padding-top: 15px;
 padding-bottom: 15px;
}
.inputCustom{
  width: 80%!important;
  background-color: rgb(39, 39, 45) !important;
  color: white !important;
  border: 2px solid #6666a444 !important;
  resize: none!important;
}
.btnForm{
  width: 80%;
  background-color: #6666A4 !important;
  border: none !important;
}
.btnForm:hover{

  background-color: #7474bc !important;

}

@media (max-width: 550px) {

  .formu{
    margin-left: 0%;
  }
  .containerForm{
    margin-left: 0% !important;
  }
  .pillRow{
    max-width: 95%!important;
  }
  .colIcons{
    margin-left:8% !important;
  }
}
