.txtContent{
    min-width: 25vh;
}
.pillRow{
    margin:auto !important;
     border: 2px solid #6666a420;
     padding-top:4%;
     padding-bottom: 2%;
     border-radius: 10px;  
}
.imgSb{
    padding-left: 10px;
    width: 50px;
    height: 40px;
}
.containerIcons{
    display: flex;
    justify-content: center;
}
.linkContainer{
    display: flex;
    justify-content: center;
    color: rgb(209, 206, 206);
    text-decoration: none;
}
.linkContainer:hover{
color: #404077;
}