html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  color: #CCCCCC !important;
  background-color: #16161a !important;
  
}


@media (max-width: 450px) {
  .logoSkills{
    width: 32px;
    height: 32px;
  }
}
