#videoPlayer{
    width: 200px;
    height:200px;
     margin-top: -6vh;
    border-radius: 35px;
    margin-left: 10vh;

  }
  
  .tituloPrincipal{
    padding-top: 40vh!important;
    height: 100vh;
    text-wrap: nowrap;
  }
  .subtitle{
    color: rgb(122, 121, 121);
  }


  @media (max-width: 600px) {
    #videoPlayer{
      width: 150px;
      height:150px;
      margin-top: -2vh;
      margin-left: 14vh;
    }
    .subtitle{
      font-size: 21px;
    }

  }
  @media (max-width: 400px) {
    #videoPlayer{
      width: 100px;
      height:100px;
      margin-top: -300px;
      margin-left:30px;
    }
  

  }